<% if @restaurant  %>
  Name: <%= @restaurant["name"] %><br />
  Website: <a href="<%= @restaurant["url"] %>">Link</a><br />
  Category: <%= @restaurant["categories"].map { |x| x.first }.join(", ") %><br />
  Address: <%= @restaurant["location"]["display_address"].join(" ") %><br />
<% end %>
